body {
    background-color: rgb(40, 24, 78);
}

h1 {
    color: white;
    text-align: center;
    font-family: 'Pirata One', sans-serif;
}

.vstup {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media (min-width: 1500px) {
    h1 {
        font-size: 150px;
    }

    input[type="text"] {
        width: 300px;
        height: 40px;
    }

    input[type="submit"] {
        width: 150px;
        height: 40px;
    }
}

input[type="text"] {
    font-size: 20px;
    border-radius: 10px;
    border: none;
    padding: 10px;
    margin-bottom: 20px;
}

#ukol::placeholder {
    text-align: center;
}

input[type="submit"] {
    font-size: 20px;
    border-radius: 10px;
    border: none;
    background-color: rgb(255, 87, 87);
    color: white;
    cursor: pointer;

    box-shadow: 3px 2px;
    margin: 10px;
}